/* Set full-page background image (excluding footer) */
body {
    background: url("about-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
}

body.aboutbg {
    background: url('"/assets/images/members/trigger-bg1.jpg'") no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
}
